/* aleo-regular - latin */
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/aleo-v11-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/aleo-v11-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-italic - latin */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('../fonts/aleo-v11-latin-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/aleo-v11-latin-italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-700 - latin */
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/aleo-v11-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/aleo-v11-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo light italic */
@font-face {
  font-family: 'Aleo Light Italic';
  font-style: italic;
  font-weight: 700;
  src: local(''),
    url('../fonts/aab2955ecf0ce2f3f6b50ab42f4b74ca.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/aab2955ecf0ce2f3f6b50ab42f4b74ca.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* magra-regular - latin */
@font-face {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/magra-v14-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/magra-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/magra-v14-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/magra-v14-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/magra-v14-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/magra-v14-latin-regular.svg#Magra') format('svg');
  /* Legacy iOS */
}

/* red-hat-text-regular - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/red-hat-text-v11-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/red-hat-text-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/red-hat-text-v11-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/red-hat-text-v11-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/red-hat-text-v11-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/red-hat-text-v11-latin-regular.svg#RedHatText') format('svg');
  /* Legacy iOS */
}

/* red-hat-text-500 - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/red-hat-text-v11-latin-500.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/red-hat-text-v11-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/red-hat-text-v11-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/red-hat-text-v11-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/red-hat-text-v11-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/red-hat-text-v11-latin-500.svg#RedHatText') format('svg');
  /* Legacy iOS */
}

/* red-hat-text-700 - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/red-hat-text-v11-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/red-hat-text-v11-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/red-hat-text-v11-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/red-hat-text-v11-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/red-hat-text-v11-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/red-hat-text-v11-latin-700.svg#RedHatText') format('svg');
  /* Legacy iOS */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header styles start */

.wrapper {
  max-width: 84vw;
  box-sizing: content-box;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: clamp(60px, 6.25vw, 90px);
  left: 0px;
  top: 0px;

  display: flex;
  align-items: center;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 84vw;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-text {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 600;
  font-size: 2.22vw;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.92vw;
  margin: 0;
  padding: 0;
}

.nav-link {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: clamp(16px, 1.11vw, 20px);
  text-decoration: none;
  color: #FFFFFF;
}

.nav-item {
  list-style-type: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.7vw 2.1vw;
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: clamp(5px, 0.7vw,10px);
  border: 0;

  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: clamp(16px, 1.11vw, 20px);
  color: #FFFFFF;
}

/* Header styles end */

/* Preview styles start */

.preview {
  width: 100vw;
  height: 100vh;
  margin-bottom: 303px;
  background: url(../img/bg-preview.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: 80px;
  padding-top: 122px;
}

.preview__info {
  width: clamp(360px, 75%, 1000px);
  margin: 0 auto 0 0;
}

.preview__title {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
  margin-bottom: 22px;
  margin-top: 0;
}

.preview__subtitle {
  width: 723px;
  height: 24px;
  margin-bottom: 46px;

  font-family: 'Aleo Light Italic';
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  border: 0;
}

.search-form__field {
  width: 892px;
  height: 95px;
  background-color: transparent;
  border: 0;

  font-size: 24px;
  line-height: 32px;
  margin-left: 41.28px;
}

.search-form__field::placeholder {
  color: #F2785C;
  font-family: 'Aleo';
  font-style: italic;
}

.search-form__submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 10px 32px;
  margin: 18px;
  border: 0;

  width: 228px;
  height: 59px;
  left: 766px;
  top: 434px;

  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;

  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

/* Preview styles end */

/* Steps styles start */

.steps {
  background: white;
  max-width: 1177px;
  height: 247px;
  margin: 40px auto 0;
}

.title {
  text-align: center;
  margin: 80px auto 0;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
}

.steps__cards {
  display: flex;
  flex-wrap: wrap;
  /* gap: 0 231px; */
  justify-content: space-around;
  justify-items: center;
  white-space: nowrap;
  margin: 40px auto 30px;
}

.steps__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 317px;
  height: 154px; */
}

.steps__card-pic {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  /* background-color: #F2785C;
  border-radius: 16px; */
}

.steps__cards-title {
  text-align: center;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

/* Steps styles end */

/* Destinations styles start */

.destinations-wrapper {
  margin: 0 auto;
  max-width: 1400px;
  overflow-x: hidden;
  background-color: white;
}

.destinations-cards {
  width: 2520px;
  position: relative;
  right: 540px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 0 60px;
  margin: 46px 0 -24px;
}

.destinations-img {
  background: #FFFFFF;
  border-radius: 16px;
  width: 800px;
  height: 800px;
}

.destinations-card-title {
  position: relative;
  top: -82px;
  left: 15px;
  z-index: 1;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.dots {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.dot {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
  justify-content: center;
}

.button-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 10px 32px;
  margin: 40px auto 0;
  border: 0;

  width: 228px;
  height: 59px;

  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;

  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

/* Destinations styles end */

/* Stories styles start */

.stories-list {
  background: rgba(255, 255, 255, 0.7);
  background-size: cover;
  padding: 40px 100px 40px;
  margin: 40px auto 0;
  z-index: -1;
}

.stories-wrapper {
  width: 100vw;
  /* margin-top: 40px; */
  padding-bottom: 60px;
  background: url(../img/Rectangle\ 33.jpg) no-repeat center;
  background-size: cover;
  z-index: -2;
}

.story-item {
  max-width: 1200px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  gap: 40px;
  margin: 0 auto 30px;
}

.story-img {
  width: 400px;
  height: 250px;
  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
}

.story-title {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
  margin: 0 auto 24px;
}

.story-text {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
  margin: 0;
}

.story-link {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

/* Stories styles end */

/* Footer styles start */

.footer-wrapper {
  position: relative;
  top: -95px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 0;
}

.footer-invisible {
  display: block;
  width: 140px;
}

.footer-info {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  color: #FFFFFF;
}

.footer-icos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  height: 33px;
}