/* aleo-regular - latin */
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('fonts/aleo-v11-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/aleo-v11-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-italic - latin */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('fonts/aleo-v11-latin-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/aleo-v11-latin-italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-700 - latin */
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('fonts/aleo-v11-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/aleo-v11-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo light italic */
@font-face {
  font-family: 'Aleo Light Italic';
  font-style: italic;
  font-weight: 700;
  src: local(''),
    url('fonts/aab2955ecf0ce2f3f6b50ab42f4b74ca.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/aab2955ecf0ce2f3f6b50ab42f4b74ca.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* magra-regular - latin */
@font-face {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/magra-v14-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('fonts/magra-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/magra-v14-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('fonts/magra-v14-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('fonts/magra-v14-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('fonts/magra-v14-latin-regular.svg#Magra') format('svg');
  /* Legacy iOS */
}

/* red-hat-text-regular - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/red-hat-text-v11-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('fonts/red-hat-text-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/red-hat-text-v11-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('fonts/red-hat-text-v11-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('fonts/red-hat-text-v11-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('fonts/red-hat-text-v11-latin-regular.svg#RedHatText') format('svg');
  /* Legacy iOS */
}

/* red-hat-text-500 - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/red-hat-text-v11-latin-500.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('fonts/red-hat-text-v11-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/red-hat-text-v11-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('fonts/red-hat-text-v11-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('fonts/red-hat-text-v11-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('fonts/red-hat-text-v11-latin-500.svg#RedHatText') format('svg');
  /* Legacy iOS */
}

/* red-hat-text-700 - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/red-hat-text-v11-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('fonts/red-hat-text-v11-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/red-hat-text-v11-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('fonts/red-hat-text-v11-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('fonts/red-hat-text-v11-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('fonts/red-hat-text-v11-latin-700.svg#RedHatText') format('svg');
  /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0 auto;

}

img {
  max-width: 100%;
  height: auto;
}

/* Header styles start */

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  height: 90px;
  left: 0px;
  top: 0px;

  display: flex;
  align-items: center;
  margin-bottom: 32px;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  margin: 0;
}

.header__logo-text {
  width: 180px;
  height: 31px;
  top: 25px;
  font-family: 'Magra';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-list {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 42px;
  width: 527px;
  height: 21px;
  top: 35px;
}

.nav-link {
  width: 98px;
  height: 21px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-item {
  list-style-type: none;
}

.header__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;
  width: 103px;
  height: 41px;
  top: 25px;
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: 0;

  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;

}

/* Header styles end */

/* Preview styles start */

.bg {
  width: 100vw;
  height: 765px;
  background: url(img/bg-preview.jpg) no-repeat center;
  background-size: cover; 
}

.preview {
  width: 892px;
  height: 422px;
  left: 120px;
  top: 122px;
  margin-bottom: 303px;
}

.preview__title {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
  margin-bottom: 22px;
  margin-top: 0;
}

.preview__subtitle {
  width: 723px;
  height: 24px;
  margin-bottom: 46px;

  font-family: 'Aleo Light Italic';
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  border: 0;
}

.search-form__field {
  width: 892px;
  height: 95px;
  background-color: transparent;
  border: 0;

  font-size: 24px;
  line-height: 32px;
  margin-left: 41.28px;
}

.search-form__field::placeholder {
  color: #F2785C;
  font-family: 'Aleo';
  font-style: italic;
}

.search-form__submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 10px 32px;
  margin: 18px;
  border: 0;

  width: 228px;
  height: 59px;
  left: 766px;
  top: 434px;

  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;

  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Preview styles end */

/* Steps styles start */

.steps {
  background: white;
  max-width: 1177px;
  height: 247px;
  margin: 0 auto 95px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
}

.steps__cards {
  display: flex;
  gap: 0 231px;
  justify-content: space-around;
  justify-items: center;
  white-space: nowrap;
  margin-bottom: 30px;

  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.steps__card {
  display: flex;
  flex-direction: column;
}

.steps__card-pic {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  /* background-color: #F2785C;
  border-radius: 16px; */
}

/* Steps styles end */

/* Destinations styles start */

.destinations__wrapper {
  margin: 0 auto 80;
  overflow-x: hidden;
  max-width: 1400px;
  background-color: white;
}

.destinations__cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
  gap: 0 60px;
  margin-bottom: 24px;
}

.destinations__card {
  background: #FFFFFF;
  border-radius: 16px;
  width: 800px;
  height: 800px;
}

.dots {
display: flex;
flex-direction: row;
justify-content: center;
gap: 10px;
}

.dot {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
}

/* Destinations styles end */

/* Stories styles start */

/* Stories styles end */